<footer class="ct-footer">
    <div class="container">
      <div class="ct-footer-meta text-center-sm">
        <div class="row">
          <div class="col-sm-6 col-md-2" >
            <img alt="logo" src="../Images/inferploy-logowhite.png" class="logo">
          </div>
          <div class="col-sm-6 col-md-3">
            <address>
              <span>Inferploy<br></span>Neerja Modi School<br>Jaipur<br>
              Rajasthan, INDIA<br>
              <span>Phone: <a href="tel:+918769196919">(+91) 87691 96919</a></span>
              <br>
              <span>E-Mail: <a href="mailto:info@inferploy.com">info@inferploy.com</a></span>
            </address>
          </div>
          
          <div class="col-sm-6 col-md-4">
            <ul class="ct-socials list-unstyled">
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-facebook fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-twitter fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-linkedin fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;"> 
                <a href="" target="_blank"><i class="fab fa-instagram fa-2x" style="color: whitesmoke;"></i> </a>
              </li>
              
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="../index.html">Home</a></li>
              <li><a href="../about_us.html">About Us</a></li>
              <li><a href="../start-up-cards-all.html">Start-ups</a></li>
              <li><a href="../apply_as_startup.html">Apply as start-up</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="color: whitesmoke;">
  
              <p>
    Copyright ©<script>2020;</script> All rights reserved</p>
      <p>
                Developed By <a href="#"><u>Inferploy Team</u></a></p>
            </div>
          </div>


      </div>
    </div>
    
  </footer>
  <script src="/js/footer.js"></script>