<div class="container-fluid" style="padding-top:2vw ; background-color: white;">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-sm-12 col-md-6	col-lg-6 col-xl-6 quality">
        <h2>Why Internship ?</h2>
        <img src="./Images/1.svg">
        <p style="text-align: justify;">
          In contemporary times being a high schooler is not easy as the world is accelerating at a pace which is almost
          impossible to keep up with. The present curriculum is in actual terms preparing students for the past instead
          of future. In such conditions internships can provide quick and extremely beneficial solutions.
          Internships
          are the best platform for applying our theoretical knowledge to the practical world and of course is the best
          way to learn to operate in the real world workspace.They can clear the cloud of confusion for students who are
          struggling to choose the perfect field of work for them and definitely would help you build an exemplary
          resume. It can inculcate professionalism to character growth to networking.Internships really provide a
          win-win situation for the dilemma which almost all genz are facing.


        </p>
      </div>
      <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 quality">
        <h2>Why Startups ?</h2>
        <img src="./Images/2.svg">
        <p style="text-align: justify;">
                    Working in a startup means you are an important member of a small team. The unique way in which you approach
          and solve a problem will be definitely noticed.This leads to being more responsible, reliable, versatile and
          willing to explore so as to improve.
          In startups, you can get the pioneering mindset of innovative people
          around.It has been observed that people who take the risk to start their own business are high on ideas and
          welcome any kind of crazy perspective too.
          You will definitely be challenged but work will also get recognized.
          Startups will provide you a completely lively environment as the people around you will mostly be young and
          will have the zeal and determination to do their best. You will be a part of a very close knit team.

        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 quality">
        <h2>Why Inferploy?</h2>
        <img src="./Images/3.svg">
        <p style="text-align: justify;">
                    INFERPLOY is going to connect startups all over india exclusively to high school students. We are planning to
          help both students and startups to grow in this process with our meticulously designed curriculum, solving
          both major problems in the startup industry as well as the education industry simultaneously. INFERPLOY in its
          initial stages is going to operate through an easily accessible website where all students can openly check
          out all startups and apply as well as startups can apply to be a part of our community.

        </p>
      </div>
    </div>
  </div>
</div>