<div id="background-wrap">

  <div class="d-flex flex-column-reverse flex-lg-row flex-xl-row justify-content-around align-items-center ">
    <div class="p-2">
      <div class="typewriter">
        <h1 style="padding:0px">Your journey to future
          Begins here!
          </h1>
          
        <div style="margin-top: 10px;;">
          <h2>
            With INFERPLOY you can find   <b><span style="color: #21282b;">internship opportunities</span></b>,<br>  <span
              style="color: red;">in startups all around the globe.</span></h2>
        </div>
        <button class="header_button"> Apply Now</button>
      </div>
    </div>
    <div class="p-2">
      <img src="../Images/homepage_header.jpg" alt="Logo" style="height: 500px; width: 500px;">
    </div>
  </div>
  <!-- <div class="header_container">
    <div class="home_left">
      <div class="content_apply">
        <div class="typewriter">
          <h1 style="padding:0px">Hello everyone.</h1>
          <div>
            <h2>
              Help us find <b><span style="color: #21282b;">missing puzzle</span></b>,<br> join our <span
                style="color: red;">team</span></h2>
          </div>
          <button class="header_button"> Know More</button>
        </div>
      </div>
    </div>
    <div class="home_right">
      <div class="content_apply">
        <img src="../Images/homepage_header.jpg" alt="Logo" style="height: 500px; width: 500px;">
      </div>
    </div> 
   <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div> -->
  </div>