<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/navbar.css"/>
    
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../Images/navbar logo.png" alt="">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about_us.html">About Us</a></li>
            <li><a href="../start-up-cards-all.html">Start Ups</a></li>
            <li><a href="../apply_as_startup.html">Register</a></li>
        </ul>
    </nav>
    <script src="/js/nav.js"></script>
</body>
</html>
