
<script>
$(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        arrows: false,
        dots: false,
            pauseOnHover: false,
            responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 3
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 2
            }
        }]
    });
});


</script>
<div style="text-align: center;"><h1>Our Partners</h1></div>
<div class="customer-logos">
    <div class="slide"><img src="../Images/digicards copy.png"></div>
    <div class="slide"><img src="../Images/efill copy.png"></div>
    <div class="slide"><img src="../Images/loopworm copy.png"></div>
    <div class="slide"><img src="../Images/startup_times.png"></div>
    <div class="slide"><img src="../Images/teen_biz.png"></div>
   
  </div>