<section id="StartupCards">
    <div class="grid">
        <div class="grid__item">
            <div class="card" style="width: 18rem;">

                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/digicards copy.png"
                        alt="Card image cap">
                </div>

                <div class="card-body">
                    <h5 class="card-title">Mamonics Digicards</h5>
                    <p class="card-text">Manomics digicard is a startup the provides digital marketing solutions such as
                        digital and personal visiting cards this startups is present in 9 countries and expanding.</p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/efill copy.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Efill </h5>
                    <p class="card-text">E fill provides Electric Vehicle Charging Infrastructure along with Conversion
                        Technology that can convert a conventional vehicle into an Electric Vehicle.</p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/gocoop.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gocoop</h5>
                    <p class="card-text">
                        Gocoop connect India's artisans, weaver co-operatives and clusters directly with consumers
                        across the world. </p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/loopworm copy.png"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Loopworm</h5>
                    <p class="card-text">loopworm convert waste into protein, they farm 'Black Soldier Fly Larvae' on
                        food waste to produce premium animal feed and pet food.</p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/startup_times.png"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">StartupTimes</h5>
                    <p class="card-text">Startups times brings success stories of the people to you through their blog,
                        app and instagram page.</p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/teen_biz.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Teen Bizness Podcast</h5>
                    <p class="card-text">Teen bizness podcast brings you speakers and ideas that will improve your
                        business acumen and help you succeed in the world of business
                    </p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="../Images/vouch.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Vouch</h5>
                    <p class="card-text">Vouch is a freelancing platform which increase the speed of trust creation and
                        offer protections to every payment to every person.
                    </p>
                    <button class="card__btn" onclick="location.href='../apply_now.html'">Apply Now <span>&rarr;</span></button>
                </div>
            </div>
        </div>
    </div>

</section>