
<!-- Streams header-->
<section class="py-5 header">
    <div class="container py-4">
        <h1  style="text-align: center; margin-bottom: 20px;">What you will get</h1>


        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-SoftwareEngineering-tab" data-toggle="pill" href="#v-pills-SoftwareEngineering" role="tab" aria-controls="v-pills-SoftwareEngineering" aria-selected="true">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">exceptional experience</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-Marketing-tab" data-toggle="pill" href="#v-pills-Marketing" role="tab" aria-controls="v-pills-Marketing" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Clarity on future</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-BusinessDevelopment-tab" data-toggle="pill" href="#v-pills-BusinessDevelopment" role="tab" aria-controls="v-pills-BusinessDevelopment" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Certificats and LOR</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-Sales-tab" data-toggle="pill" href="#v-pills-Sales" role="tab" aria-controls="v-pills-Sales" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Build the perfect resume</span></a>
                    </div>
            </div>


            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-SoftwareEngineering" role="tabpanel" aria-labelledby="v-pills-SoftwareEngineering-tab" style="min-height: 280px;">
                        <h4 class="font-italic mb-4">exceptional experience</h4>
                        <p class="font-italic text-muted mb-2">at inferploy we will be working to make your first internship, the most enriching as well as joyous. You will make a lot of networks in the professional world and at the same time make lifelong friendships 
                        </p>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-Marketing" role="tabpanel" aria-labelledby="v-pills-Marketing-tab" style="min-height: 280px;">
                        <h4 class="font-italic mb-4">Clarity on future</h4>
                        <p class="font-italic text-muted mb-2">With our internship programs in a myriad of fields of study, you can know your actual passion and harness your potential to fullest. You can know which field of study suits you the most in the real world and avoid making wrongful decisions for your career path.</p>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-BusinessDevelopment" role="tabpanel" aria-labelledby="v-pills-BusinessDevelopment-tab" style="min-height: 280px;">
                        <h4 class="font-italic mb-4">Certificats and LOR</h4>
                        <p class="font-italic text-muted mb-2">Inferploy guarantees an official certificate of internship to all the students for the completion of internships with their respective firms and also assures a letter of recommendation with special incentives to top performing interns.
                        </p>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-Sales" role="tabpanel" aria-labelledby="v-pills-Sales-tab" style="min-height: 280px;">
                        <h4 class="font-italic mb-4">Build the perfect resume</h4>
                        <p class="font-italic text-muted mb-2">Get a chance to be future ready by adding your propitious internship experience to your resume.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>